{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel='stylesheet' href="{% static 'css/about.css' %}" />
<div class="center">
    <h2>Mamy doświadczenie</h2>
    <p>Restaurcja Pyszna to rodzinna firma, która od ponad 20 lat świadczy usługi z zakresu kuchni polskiej.
        Ten czas pozwolił nam stworzyć wiele własnych przepisów, które cieszą sią popularnością wsród naszych klinetów.
    </p>
    <h2>Lokalizacja</h2>
    <p>Restaurcja znajduje się na ulicy Bladej 31. Obszar ten jest doskonale skomunikowany.
        Dojedziesz do nas tramwajem lub autobusem, które mają bezpośrednie połączenie z dw. Warszawa zachodnia oraz
        stacją metra Świętokrzyska.
    </p>
    <h2>Obsługa</h2>
    <p>Ze względu na to, że Pyszna jest restauracją rodzinną,
        dokładamy wszelkich starań byś jedząc posiłek miał wrażenie, że jesteś w domu.
    </p>
</div>
{% endblock %}
